body{
    margin-top: 150px;
}

.header{
    background-color: rgba(15, 15, 15, 0.95);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding:15px 0px 0px 15px;
    height: 85px;
    margin: 0px 0px 10px 0px;
}

.header-profile-picture{
    width: 75px; 
    height: 75px; 
    border-radius: 50%;
}

.header-title{
    font-family: Baloo Bhai, monospace;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 10px;
    left: 100px;

    animation-name: start;
    animation-duration: 3s;
}

@keyframes start {

    0%{
        left: 150px;
        opacity: 0;
    }

    100%{
        left: 100px;
        opacity: 1;
    }
}

.header a{
    text-decoration: none;
}

.nav{
    position: absolute;
    right: 65px;
    top: 50px;
}

.nav a{
    font-family: Roboto, monospace;
    font-size: 24px;
    color: rgba(204, 204, 204, 100);
    margin-left: 10px;
}

.nav a:hover{
    color: rgba(255, 255, 255, 100);
}

h1{
    font-family: Open Sans, monospace;
    font-size: 42px;
}

.btn-social{
    position: relative;
    margin-right: 5px;
}

.btn-social:hover {
    animation-name: spotlight;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


@keyframes spotlight {
    100% {
        top: -5px;
    }
}

.social-midias{
    text-align: right;
}

.sobre-mim{
    width: 500px;
    border-radius: 5px;
    margin: auto;
    padding: 10px 25px 5px 25px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
}

.sobre-mim h1{
    text-align: center;
}

p{
    font-family: Open Sans, monospace;
    font-size: 20px;
    text-align: justify;
}

