* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    height: 100vh;
}

header {
    align-items: center;
    background-color: #2f879d;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    color: #fff;
}

.menu {
    background-color:#17444f;
    box-shadow: 0px 5px 10px #fff;
    padding: 5px 0 5px 0;
    position: fixed;
    top: 0;
    width: 100vw;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    color: #89cbdc;
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
}

.menu a:hover {
    color: #ffffff;
}

.container-title {
    margin-top: 6.1em;
}
.site-title {
    font-size: 70px;
    font-family: 'Love Ya Like A Sister', cursive;
}

.image-title {
    width: 40%;
}

.site-subtitle {
    font-size: 12px;
    text-align: right;
}