* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
    font-size: 24px;
    height: 100vh;
}

header {
    position: fixed;
    background-color:#e6e6e6;
    width: 100vw;
    box-shadow: 0em 0.1em 0.3em #cccccc;
}

header ul {
    display: flex;
    justify-content: space-around;
}

header li {
    list-style: none;
}

header a {
    color: #b3b3b3;
    text-decoration: none;
    padding: 10px 20px;
}

header a:hover {
    color: #ffffff;
}